<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="page-description">

  <h2><%= t('covid_tracker.homepage.title') %></h2>

  <% @presenter.all_regions_data.each do |_region_code, region_results| %>
    <h3><%= @presenter.region_label(region_results: region_results) %></h3>
    <% region_data = @presenter.region_data(region_results: region_results) %>

    <table class="pure-table">
      <thead>
        <tr>
          <th><%= t('covid_tracker.homepage.date') %></th>
          <th><%= t('covid_tracker.homepage.cumulative_confirmed') %></th>
          <th><%= t('covid_tracker.homepage.delta_confirmed') %></th>
          <th><%= t('covid_tracker.homepage.cumulative_deaths') %></th>
          <th><%= t('covid_tracker.homepage.delta_deaths') %></th>
        </tr>
      </thead>
      <tbody>
      <% region_data.each_with_index do |datum, idx| %>
        <% next if datum.error? %>
        <tr class="<%= @presenter.row_class(idx) %>">
          <td class="<%= @presenter.date_class(datum) %>"><%= @presenter.date(datum) %></td>
          <td class="<%= @presenter.cumulative_confirmed_class(datum) %>"><%= @presenter.cumulative_confirmed(datum) %></td>
          <td class="<%= @presenter.delta_confirmed_class(datum) %>"><%= @presenter.delta_confirmed(datum) %></td>
          <td class="<%= @presenter.cumulative_deaths_class(datum) %>"><%= @presenter.cumulative_deaths(datum) %></td>
          <td class="<%= @presenter.delta_deaths_class(datum) %>"><%= @presenter.delta_deaths(datum) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  <% end %>
</div>
